
@import "./sharedcomponents/card/card.scss";

.the-form {

  border: 1px solid brown;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards-container{
  display: flex;
  justify-content: center;
}

.base-btn{
  width: 100px;
  border: 2px solid purple;
}
.confirm-button{
background: green;
}

.cancel-button{

  background: red;
}